<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gym Friendly Dating App</title>
  <meta name="description" content="A Gym Dating App">
  <meta name="author" content="Gym Friendly">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/ico" href="../public/images/favicon.ico"/>
  <script src="bundle.js"></script>

</head>
<body>
  <div class="container">
    <main class="row textpanel">
      <div class="row">
        <div class="twelve columns">
         <h1><a href="/">Gym Friendly</a></h1>
          <h3>Meet your Match</h3>
        </div>
      </div>
      <div class="row">
        <!-- <div class="twelve columns"> -->
          <!-- <img class="Main_pic" src="/images/gymdating_main.jpg" alt="gym dating app" > -->
          <!-- <script id="t" type="text/x-handlebars-template">
            <img class="someClass" src="{{gymdating_main.jpg}}">
          </script> -->
        <!-- </div> -->
      </div>
      <div class = signHere>
        <h5>Login details</h5>
        <a href="/sign-in" class="button">Sign In</a>
        <a href="/sign-up" class="button">Sign Up</a>
        <a href="/sign-out" class="button">Sign Out</a>
      </div>
      </main>
  </div>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <footer class="row textpanel" style="text-align:center;">
    <p>Copyright 2016</p>
  </footer>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
