h1 {
  font-family:Lobster, Monospace;
}

p {
  font-size: 16px;
  font-family: Monospace;
}

.red-text {
  color:red;
}

.glyphicon.glyphicon-remove-circle {
  font-size: 8.5vw;
  color:orangered;
}

.glyphicon.glyphicon-ok-circle {
  font-size: 8.5vw;
  color:orangered;
}

.glyphicon.glyphicon-user {
  font-size: 8.5vw;
  color:orangered;
}

.glyphicon.glyphicon-comment {
  font-size: 8.5vw;
  color:orangered;
}
